

@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/login.jpg) no-repeat;
    background-size: cover;
    background-position: center;


}
.login-header{
    width:420px ;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-header h3{
    font-size: 36px;
    text-align: center;
}
.login-header .input-login{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-login input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;

}
.input-login input::placeholder{
    color: #fff;
}
.input-login i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.login-header .remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px ;
}

.remeber-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remeber-forgot a{
    color: #fff;
    text-decoration: none;
}
.remeber-forgot a:hover{
    text-decoration: underline;
}

.login-header .btn{
width: 100%;
height: 45px;
background: #fff;
border: none;
outline: none;
border-radius:  40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600;
}

.login-header .register-link{
    font-size: 14.4px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
